[submodule "zsh/oh_my_zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh/oh_my_zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/tabline.vim"]
	path = vim/plugins/tabline.vim
	url = https://github.com/mkitt/tabline.vim
[submodule "vim/plugins/ack.vim"]
	path = vim/plugins/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/plugins/lightline.vim"]
	path = vim/plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/plugins/open_file_under_cursor.vim"]
	path = vim/plugins/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim
[submodule "vim/plugins/vim-commentary"]
	path = vim/plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/plugins/vim-expand-region"]
	path = vim/plugins/vim-expand-region
    url = https://github.com/terryma/vim-expand-region
    ignore = dirty
[submodule "vim/plugins/vim-flake8"]
	path = vim/plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/plugins/vim-gitgutter"]
	path = vim/plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugins/vim-multiple-cursors"]
	path = vim/plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/plugins/vim-repeat"]
	path = vim/plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/plugins/vim-surround"]
	path = vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/plugins/vim-yankstack"]
	path = vim/plugins/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule "vim/plugins/vim-indent-object"]
	path = vim/plugins/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/plugins/vim-easymotion"]
	path = vim/plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/plugins/dracula-theme"]
	path = vim/plugins/dracula-theme
	url = https://www.github.com/dracula/vim.git
[submodule "vim/plugins/vim-polyglot"]
	path = vim/plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/plugins/syntastic"]
	path = vim/plugins/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/plugins/vim-nerdtree-tabs"]
	path = vim/plugins/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/plugins/vim-autoclose"]
	path = vim/plugins/vim-autoclose
	url = https://github.com/townk/vim-autoclose
[submodule "vim/plugins/fzf.vim"]
	path = vim/plugins/fzf.vim
    url = https://github.com/junegunn/fzf.vim
    ignore = dirty
